// Github: https://github.com/matthewlein/Ceaser/blob/master/developer/ceaser-easings.scss
// Cubic
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);

// Circ
$easeInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);

// Expo
$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);

// Quad
$easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);

// Quart
$easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);

// Quint
$easeInQuint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);

// Sine
$easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);

// Back
$easeInBack: cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);

@property --_current-slider-index {
	syntax: "<integer>";
	inherits: true;
	initial-value: 0;
}

@property --slides-to-show {
	syntax: "<integer>";
	inherits: true;
	initial-value: 1;
}

@property --slides-to-scroll {
	syntax: "<integer>";
	inherits: true;
	initial-value: 1;
}

@property --infinite-slides {
	syntax: "true|false";
	inherits: true;
	initial-value: true;
}

@property --slides-autoplay {
	syntax: "true|false";
	inherits: true;
	initial-value: false;
}

@property --slides-autoplay-speed {
	syntax: "<integer>";
	inherits: true;
	initial-value: 3000;
}

@property --is-horizontal {
	syntax: "true|false";
	inherits: true;
	initial-value: true;
}

@property --is-always-center {
	syntax: "true|false";
	inherits: true;
	initial-value: false;
}

@property --is-active-select {
	syntax: "true|false";
	inherits: true;
	initial-value: false;
}

@property --sliding-duration {
	syntax: "<time>";
	inherits: true;
	initial-value: 500ms;
}

@property --slider-item-gap {
	syntax: "<length>";
	inherits: true;
	initial-value: 0px;
}

@property --_slider-adaptive-size {
	syntax: "<length>|<percentage>|auto";
	inherits: true;
	initial-value: 100%;
}

@property --control-navigation-color {
	syntax: "<color>";
	inherits: true;
	initial-value: #000;
}

@property --control-navigation-size {
	syntax: "<length>";
	inherits: true;
	initial-value: 30px;
}

@property --show-control-pagination {
	syntax: "true|false";
	inherits: true;
	initial-value: true;
}

@property --show-control-navigation {
	syntax: "true|false";
	inherits: true;
	initial-value: true;
}

@property --slider-min-item-size {
	syntax: "<length>";
	inherits: true;
	initial-value: 100px;
}

@property --slider-can-swipe {
	syntax: "true|false";
	inherits: true;
	initial-value: true;
}

@property --is-adaptive-size {
	syntax: "true|false";
	inherits: true;
	initial-value: false;
}

@property --slider-initial-item {
	syntax: "<integer>";
	inherits: true;
	initial-value: 0;
}

@mixin variables() {

	& {

		--ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		--ease-in-out-expo: cubic-bezier(1.000, 0.000, 0.000, 1.000);

		--slides-to-show: 1;
		--slides-to-scroll: 1;
		--slider-can-swipe: true;
		--slider-initial-item: 0;
		--infinite-slides: true;
		--is-horizontal: true;
		--is-always-center: false;
		--is-active-select: false;
		--slides-autoplay: false;
		--show-control-pagination: true;
		--show-control-navigation: true;
		--slides-autoplay-timeout: 3000; // In Milliseconds.
		--_current-slider-index: 0;
		--_slider-adaptive-size: 100%;
		--is-adaptive-size: false;
		--slider-item-gap: 0px;
		--control-navigation-color: #000;
		--control-navigation-size: 30px;
		--slider-min-item-size: 100px;
		--sliding-duration: 500ms;
		// Generate Transition: https://matthewlein.com/tools/ceaser
		--sliding-timing-function: var(--ease-out-cubic); /* easeInOutExpo */
	}
}

@mixin wrapper-style() {
	& {
		container-name: slider;
		position: relative;
		display: flex;
		flex-direction: column;

		height: fit-content;
		width: 100%;

		&.is-horizontal {
			height: fit-content;
			width: 100%;
		}

		&.is-vertical {
			height: 100%;
			width: fit-content;
		}
	}
}

@mixin animating-style() {
	& {
		/*will-change: transform;*/
		transition: var(--sliding-duration, 500ms);
		transition-timing-function: var(--sliding-timing-function, ease);
	}
}

@mixin container-style() {
	& {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
		display: block;
		box-sizing: border-box;
	}
}

@mixin base-style() {
	& {
		/*will-change: auto;*/

		--_item-width: calc(100% / var(--slides-to-show));
		--_item-height: calc(100% / var(--slides-to-show));

		--_column-gap-count: calc(var(--slides-to-show) - 1);
		--_column-size: calc(calc(var(--slider-item-gap) / var(--slides-to-show)) * var(--_column-gap-count));

		--_gap-value: calc(var(--_current-slider-index) * calc(var(--slider-item-gap) / var(--slides-to-show)));

		--_horizontal-value: calc(calc(var(--_item-width) * var(--_current-slider-index) + var(--_gap-value)) * -1);
		--_vertical-value: calc(calc(var(--_item-height) * var(--_current-slider-index) + var(--_gap-value)) * -1);


		--_center-item-gap-value: calc(var(--_column-size) / 2);
		--_center-item: calc((var(--slides-to-show) - var(--slides-to-scroll)) / 2);

		--_center-item-width: calc(var(--_item-width) * var(--_center-item) + var(--_center-item-gap-value));
		--_center-item-height: calc(var(--_item-height) * var(--_center-item) + var(--_center-item-gap-value));

		transform: translateX(var(--_horizontal-value));
		// transform: translateY(var(--vertical-value));
		will-change: transform;

		list-style: none;
		display: grid;
		gap: var(--slider-item-gap);

		grid-auto-flow: column;
		grid-auto-columns: calc(var(--_item-width) - var(--_column-size));
		user-select: none;

		height: var(--_slider-adaptive-size);
		width: 100%;
		box-sizing: border-box;
	}
}

@mixin item-style() {
	& {
		display: block;
		/*align-items: center;
		justify-content: center;
		flex-direction: column;*/
		position: relative;
		margin: 0;
		padding: 0;
		box-sizing: border-box;

		> * {
			display: flex;
			justify-content: center;
			align-items: center;
			user-select: none;

			object-fit: cover; // for image

			width: 100%;
			height: auto;
			min-height: var(--slider-min-item-size);
			min-width: auto;

			box-sizing: border-box;
		}

		/*		> img {
					display: block;
					width: 100%;
					height: auto;
					object-fit: cover;
					user-select: none;
				}

				> *:not(img) {
					display: flex;
					justify-content: center;
					align-items: center;
					user-select: none;
					min-height: var(--slider-min-item-size);
					width: 100%;
				}*/
	}
}

@mixin active-center-style() {
	& {
		--_horizontal-value: calc((((var(--_item-width) * var(--_current-slider-index)) + var(--_gap-value)) - var(--_center-item-width)) * -1);
		--_vertical-value: calc((((var(--_item-height) * var(--_current-slider-index)) + var(--_gap-value)) - var(--_center-item-height)) * -1);
	}
}

@mixin horizontal-style() {
	& {
		transform: translateX(var(--_horizontal-value));
		grid-auto-flow: column;
		grid-auto-columns: calc(var(--_item-width) - var(--_column-size));
		grid-auto-rows: auto;
	}
}

@mixin vertical-style() {
	& {
		transform: translateY(var(--_vertical-value));
		grid-auto-flow: row;
		grid-auto-rows: calc(var(--_item-height) - var(--_column-size));
		grid-auto-columns: auto;
		/*img {
			width: 100%;
			height: 100%;
		}*/
	}
}

@mixin pagination-style() {
	& {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		margin-block: 10px;

		> * {
			background-color: transparent;
			margin-inline: 5px;
			padding: 0;
			color: transparent;
			cursor: pointer;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			text-indent: -99999px;
			border: 1px solid var(--control-navigation-color);
			height: 10px;
			aspect-ratio: 1;
			box-sizing: border-box;
			border-radius: 50%;

			&.current {
				background-color: var(--control-navigation-color);
			}
		}
	}
}

@mixin navigation-style-previous() {
	margin-block: auto;
	margin-inline: 0 auto;
}

@mixin navigation-style-next() {
	margin-block: auto;
	margin-inline: auto 0;
}

@mixin navigation-style() {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	> * {

		position: absolute;
		border: none;
		cursor: pointer;
		background-color: transparent;
		width: var(--control-navigation-size);
		aspect-ratio: 1;
		padding: 5px;
		inset: 0;

		img, svg {
			display: block;
			width: 100%;
			height: 100%;
			fill: var(--control-navigation-color);
		}

		&.storepress-slider-navigation-previous {
			user-select: none;
			@include navigation-style-previous();
		}

		&.storepress-slider-navigation-next {
			user-select: none;
			@include navigation-style-next();
		}
	}
}

// @use "~@storepress/slider/src/mixins" as slider;
// :where([data-storepress-slider]){ @include init(); }
@mixin init() {

	// Slider Wrapper Variable
	@include variables();

	// Wrapper Style
	@include wrapper-style();

	// Slider Container
	& :where(.storepress-slider-container) {
		@include container-style();
	}

	// Slider
	& :where(.storepress-slider-container > .storepress-slider) {
		@include base-style();

		&.animating {
			@include animating-style();
		}

		// Slider Items
		> * {
			@include item-style()
		}
	}

	// Slider Controls
	> .storepress-slider-controls {

		display: flex;
		justify-content: center;
		box-sizing: border-box;

		// Slider Pagination
		.storepress-slider-pagination {
			@include pagination-style();
		}

		// Slider Navigation | Next Prev
		.storepress-slider-navigation {
			@include navigation-style();
		}
	}

	&:not(.has-dots) {
		.storepress-slider-pagination {
			display: none;
		}
	}

	&:not(.has-arrow) {
		.storepress-slider-navigation {
			display: none;
		}
	}

	&.is-active-center {
		.storepress-slider {
			@include active-center-style();
		}
	}

	&.is-horizontal {
		.storepress-slider {
			@include horizontal-style();

			// Slider item
			> * > * {

				width: 100%;
				height: auto;
				min-height: var(--slider-min-item-size);
				min-width: auto;

				/*> img {
					width: 100%;
					height: auto;
				}

				> *:not(img) {
					min-height: var(--slider-min-item-size);
					width: 100%;
				}*/
			}
		}
	}

	&.is-vertical {
		.storepress-slider {
			@include vertical-style();


			> * > * {

				width: auto;
				height: 100%;

				min-width: var(--slider-min-item-size);
				min-height: auto;

				/*> img {
					width: 100%;
					height: auto;
				}

				> *:not(img) {
					min-height: var(--slider-min-item-size);
					width: 100%;
				}*/
			}


			/*> * {
				> img {
					width: auto;
					height: 100%;
				}

				> *:not(img) {
					min-width: var(--slider-min-item-size);
					height: 100%;

					min-height: auto;
					width: auto;
				}
			}*/

		}

		.storepress-slider-navigation {
			> * {

				img, svg {
					transform: rotate(90deg);
				}

				&.storepress-slider-navigation-previous {
					margin-block: 0 auto;
					margin-inline: auto;
				}

				&.storepress-slider-navigation-next {
					margin-block: auto 0;
					margin-inline: auto;
				}
			}
		}
	}

	&.swiping {
		.storepress-slider {
			pointer-events: none;
			user-select: none;
		}
	}


	@container style(--is-horizontal: true) {
		height: fit-content;
		width: 100%;
	}


	@container style(--is-horizontal: false) {
		height: 100%;
		width: fit-content;
	}
}
