*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#swipe-test {
	width: 300px;
	height: 300px;
	background-color: red;
}

.container {
	max-width: 800px;
	/*aspect-ratio: 1;*/
	margin: 20px auto;
	display: flex;
	flex-direction: row;

	@media (max-width: 800px) {
		flex-direction: column;
	}
}

.container-2 {
	max-width: 400px;
	/*aspect-ratio: 1;*/
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	gap: 5px;

	@media (max-width: 800px) {
		flex-direction: column;
	}
}

.slider-wrapper.base {
	--slide-item: 1;
	--show-item: 3;
	--item-gap: 5px;
	--is-always-center: true;
	--is-horizontal: false;
	/*max-width: 600px;*/
	/*height: 400px;*/
	&.hr{
		--is-horizontal: true;
		@media (max-width: 800px) {
			--is-horizontal: false;
		}
	}
	&.vr{
		--is-horizontal: false;
		@media (max-width: 800px) {
			--is-horizontal: true;
		}
	}
}

.slider-wrapper.one {
	--slide-item: 1;
	--show-item: 1;
	--item-gap: 5px;
	/*max-width: 600px;*/
	/*height: 400px;*/
}

.slider-wrapper.two {
	--slide-item: 1;
	--show-item: 3;
	--item-gap: 5px;
	/*--is-horizontal: false;*/
	/*height: 300px;*/
	/*max-width: 600px;
	max-height: 300px;*/

	@media (max-width: 800px) {
		--is-horizontal: true;
	}
}

.slider-wrapper {

	--slide-item: 1;
	--show-item: 1;
	--show-infinite: true;
	--is-horizontal: true;
	--is-always-center: false;
	--is-active-select: false;
	--_current-index: 0; // private value
	--item-gap: 0px;
	--control-color: green;
	--sliding-speed: 500ms;
	--sliding-style: ease;

	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;

	.animating {
		will-change: transform;
		transition: var(--sliding-speed);
		transition-timing-function: var(--sliding-style);
	}

	.slider-container{
		position: relative;
		width: 100%;
		height: auto;
		/*padding-inline: 20px;
		padding-block: 20px;*/
	}

	.slider {

		will-change: auto;

		--_item-width: calc(100% / var(--show-item));
		--_item-height: calc(100% / var(--show-item));
		--_column-gap-count: calc(var(--show-item) - 1);
		--_column-size: calc(calc(var(--item-gap) / var(--show-item)) * var(--_column-gap-count));
		--_gap-value: calc(var(--_current-index) * calc(var(--item-gap) / var(--show-item)));

		--_horizontal-value: calc(calc(var(--_item-width) * var(--_current-index) + var(--_gap-value)) * -1);
		--_vertical-value: calc(calc(var(--_item-height) * var(--_current-index)  + var(--_gap-value)) * -1);
		--_center-item: calc(calc(var(--show-item) - var(--slide-item)) / 2);
		--_center-item-width: calc(var(--_item-width) * var(--_center-item));
		--_center-item-height: calc(var(--_item-height) * var(--_center-item));


		transform: translateX(var(--_horizontal-value));
		// transform: translateY(var(--vertical-value));

		list-style: none;
		height: 100%;
		display: grid;
		gap: var(--item-gap);
		/*gap: 5px;*/
		/*grid-auto-flow: column;
		grid-auto-columns: var(--item-width);*/

		/*grid-auto-flow: row;
		grid-auto-rows: var(--item-height);*/

		grid-auto-flow: column;
		grid-auto-columns: calc(var(--_item-width) - var(--_column-size) );
		user-select: none;

		& li {
			/*display: grid;
			place-items: center;*/
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			img{
				display: block;
				width: 100%;
				/*height: 100%;
				width: 100%;*/
				object-fit: cover;
				user-select: none;
			}
			/*scroll-snap-align: start;*/
			/*border: 2px solid green;
			display: grid;
			place-items: center;*/
		}
	}

	&.is-active-center{
		.slider{
			/*justify-content: center;*/
			--_horizontal-value: calc(calc(var(--_item-width) * var(--_current-index) - var(--_center-item-width) + var(--_gap-value)) * -1);
			--_vertical-value: calc(calc(var(--_item-height) * var(--_current-index) - var(--_center-item-height) + var(--_gap-value)) * -1);

		}
	}

	&.is-horizontal {
		.slider {
			transform: translateX(var(--_horizontal-value));
			grid-auto-flow: column;
			grid-auto-columns: calc(var(--_item-width) - var(--_column-size));
			grid-auto-rows: auto;
		}
	}

	&.is-vertical {
		.slider {
			transform: translateY(var(--_vertical-value));
			grid-auto-flow: row;
			grid-auto-rows: calc(var(--_item-height) - var(--_column-size));
			grid-auto-columns: auto;
			img{
				width: auto;
				height: 100%;
			}
		}
	}

	.control{

		.slider-navigation{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.arrow{
			position: absolute;
			border: 1rem solid transparent;
			cursor: pointer;
			top: 50%;
			transform: translateY(-50%);

			&.prev{
				left: 0;
				border-right-color: var(--control-color);
				border-left-width: 0;
				user-select: none;
			}
			&.next{
				right: 0;
				border-left-color: var(--control-color);
				border-right-width: 0;
				user-select: none;
			}
		}

		.slider-pagination{
			display: flex;
			justify-content: center;
			& > *{
				padding: 10px;
			}
		}
	}

	&.is-vertical{
		.control{

			.slider-navigation{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			.arrow{
				border: 1rem solid transparent;
				left: 50%;
				transform: translateX(-50%);

				&.prev{
					user-select: none;
					top:0;
					border-bottom-color: var(--control-color);
					border-top-width: 0;
				}
				&.next{
					user-select: none;
					bottom: 0;
					right: auto;
					top:auto;
					border-top-color: var(--control-color);
					border-bottom-width: 0;
				}
			}
		}
	}

}

/*.slider-container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	scrollbar-width: none;
}*/
