*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 600px;
	height: 200px;
	margin: 20px auto;
}

.slider-wrapper.one {
	--slide-item: 1;
	--show-item: 1;
}

.slider-wrapper.two {
	--slide-item: 2;
	--show-item: 3;
}

.slider-wrapper {
	/*--slide-item: 3;
	--show-item: 3;*/
	--show-infinite: true;
	--_current-item-index: 0;
	--item-width: calc(100% / var(--show-item));
	--item-height: calc(100% / var(--show-item));
	border: 2px solid red;
	width: 100%;
	height: 100%;

	overflow: hidden;
	position: relative;
}

.animating {
	transition: 700ms;
}

.clone{
	* {
		pointer-events: none;
	}
}

.slider {

	will-change: translateX, translateY;

	--horizontal-value: calc(calc(var(--item-width) * var(--_current-item-index)) * -1);
	--vertical-value: calc(calc(var(--item-height) * var(--_current-item-index)) * -1);

	transform: translateX(var(--horizontal-value));

	/* list-style: none; */
	height: 100%;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: var(--item-width);
	/* transition: 0.7s; */

	& li {
		border: 2px solid green;

		display: grid;
		place-items: center;
	}
}

.control {
	& .arrow {
		font-size: 24px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		padding: 5px;
		/* background-color: aqua; */
		cursor: pointer;
		user-select: none;

		&.right {
			right: 0;
		}

		&.left {
			left: 0;
		}
	}

	& ul {
		list-style: none;
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		gap: 3px;

		li {
			width: 15px;
			height: 15px;
			border: 2px solid #333;
			background-color: #333;
			border-radius: 100%;
			cursor: pointer;

			&.selected {
				background-color: red;
				transition: 0.3s;
			}
		}
	}
}
