@charset "UTF-8";

@use "./mixins" as slider;

$default-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

:where([data-slider-settings]) {
	font-family: $default-font;

	@include slider.slider-init();

	& {
		--slides-to-show: 1;

		--slides-to-scroll: 1;

		--infinite-slides: true;

		--slides-autoplay: false;

		--is-always-center: false;

		--is-active-select: false;

		--slider-item-gap: 0px;
	}


/*	.storepress-slider > *.current + *{

	}

	.storepress-slider > *.current + * + *{

	}

	.storepress-slider > *:has(+ *.current) {

	}

	.storepress-slider > *:has(+ * + *.current) {

	}
	*/
}


